<center>
  <h2>Log in</h2>
  <form action="/login" method="post">
    <label>Username:</label>
    <input type="text" name="username" placeholder= Username value="">
    <br>
    <label>Password:</label>
    <input type="password" name="password" placeholder= Password value="">
    <br>
    <input type="submit" value="Log in!">
  </form>
</center>