<center>
    <h2>Welcome to Truk-Tripz</h2>
    <h4>Truck Driver Load Management</h4> 
    <img src="https://smallbiztrends.com/wp-content/uploads/2016/07/tractorTrailer-850x476.jpg" alt="Truck" width="500" height="333">
    <form method="get" action="/login">
        <button type="submit">Log in</button>
        <form method="get" action="/signup">
            <button type="submit">Sign up</button>
        </form>
    </form>   
</center>

